{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript",
    [
      "@babel/preset-react",
      {
        // enables the importSource
        "runtime": "automatic",
        // makes the css thing work
        "importSource": "@emotion/react"
      }
    ]
  ],
  "plugins": ["@emotion"]
}
